@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: DejaVu Sans Mono, monospace;
  color: white;
  background: black;
}

.techStackIcons {
  @apply h-10
}
.techStackContainer {
  @apply flex gap-2 items-center border p-2 rounded-xl
}
